<app-dmtoolbar></app-dmtoolbar>
    <mat-drawer-container class="container" autosize style="height: 93.15vh;">
        <mat-drawer #drawer class="sidenav" mode="over">
            <app-dmlookup></app-dmlookup>
        </mat-drawer>
        <div class="sidenav-content">
            <button type="button" mat-raised-button color="accent" (click)="drawer.toggle()" style="height: 80px; position:absolute; top:40%;">
                <i class="material-icons">chevron_right</i>
            </button>
            <div style="height:90%; width:90%; margin-top:2%; margin-bottom:5%; margin-left:5%; margin-right:5%;">
                <router-outlet></router-outlet>
            </div>
        </div>
        <button type="button" mat-raised-button color="accent" style="position: absolute; left:50%; bottom:0px; margin-left:-75px;">
            <i class="material-icons">expand_less</i>
        </button>
    </mat-drawer-container>