@import '~@angular/material/theming';
@include mat-core();

$app-primary: mat-palette($mat-green);
$app-accent: mat-palette($mat-grey,50);
$app-warn: mat-palette($mat-red);
$app-theme: mat-dark-theme($app-primary,$app-accent,$app-warn);

@include angular-material-theme($app-theme);