<mat-toolbar color = "primary">
    <button mat-button routerLink="/">Home</button>
    <button mat-button [matMenuTriggerFor]="combatMenu">Combat</button>
    <mat-menu #combatMenu="matMenu">
      <button mat-menu-item routerLink="/combat">Start Combat</button>
      <button mat-menu-item>End Combat</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="notesMenu">Notes</button>
    <mat-menu #notesMenu="matMenu">
      <button mat-menu-item routerLink="/personal-notes">Personal Notes</button>
      <button mat-menu-item routerLink="/shared-notes">Shared Notes</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="mapMenu">Map</button>
    <mat-menu #mapMenu="matMenu">
      <button mat-menu-item>Options</button>
      <button mat-menu-item routerLink="/map">View Map</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="logMenu">Log</button>
    <mat-menu #logMenu="matMenu">
      <button mat-menu-item routerLink="/log">View Log</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="sessionMenu" style="position:absolute; right:0px;">Session</button>
    <mat-menu #sessionMenu="matMenu">
      <app-login *ngIf="!currentUser"></app-login>
      <app-fetch-user-info *ngIf="currentUser"></app-fetch-user-info>
      <button mat-menu-item routerLink="/create-session">Create New Session</button>
      <button mat-menu-item routerLink="/display-sessions">Display Sessions</button>
      <button mat-menu-item>Save Session</button>
      <button mat-menu-item>Load Session</button>
      <button mat-menu-item>End Session</button>
      <button mat-menu-item>Invite Player</button>
      <button mat-menu-item>Kick Player</button>
      <button mat-menu-item (click) = "logout()">Logout</button>
    </mat-menu>
  </mat-toolbar>
